body{
    height: 2000px;
    background-color: crimson;
    
}


.topDiv{
    background-color:#5e068a;
    color: white;
    font-size: 13px;
    padding: 12px;
}
.navba{
    position: sticky;
    background-color: white;
    color: black;    
    
}
a{
    color: black ;
    font-size: 14px;
    font-weight: 500;
}

h2{
    color: #5e068a;
    font-weight: 700;
}
span{
    color: #5e068a99;
}

.links{
    position: relative;
    left: 20%;
}
.paragraph{
    line-height: 28px;
    margin-bottom: 12px;
    font-size: 15px;
}
.bttn-class{
    padding: 16px 27px;
    font-weight: 600;
    margin-top: 21px;
    border-radius: 50px;
    border: 2px solid #5e068a;
    background-color:#5e068a;
    color: white;
}
.bttn-class:hover{
    background-color: white;
    color:#5e068a ;
}
.view{
    font-weight: 700;
    text-transform: uppercase;
    background-color: #5e068a;
    padding: 12px 20px;
    color: #fff;
    text-decoration: none;
}

.p-ml{
    margin-bottom: 15px;
    line-height: 1.5;
    font-weight: 700;
}

h5,h3{
    color:#5e068a ;
}

